<h1>welcome to stupid coach</h1>
<h3>make a stupid question</h3>


<form action="/answer" class="form-inline">
  <div class="input-group input-group-lg">
    <input type="text" name="question" class="form-control">
    <span class="input-group-btn">
      <input type="submit" value="Ask" class="btn btn-primary">
    </span>
  </div>
</form>
